
body {
  background-color: #f4f5f6;
  color: #333;
}

* {
  box-sizing: border-box;
}

ul, 
li 
{
  list-style: none;
}

p {
  color: #333;
  font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.header {
  background-color: #f72210;
}

.sticky-top {
  max-width: 1310px;
}

nav {
  background-color: #f4f5f6;
}

.sticky-top {
  position: fixed;
}

.input {
  margin-top: 5px;
  margin-right: 20px;
  width: 136px !important;
  height: 30px;
  outline: none;
  border: none;
  background: url(Assets/iconfinder_1013_MagnifyingGlass_183520.png) no-repeat scroll 92px 12px;
  margin-left: 100px;
}

.container-fluid {
  font-weight: 100;
  max-width: 1350px;
}

.main {
  background-color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 165px;
  max-width: 1310px;
}

.info {
  font: bold 17px/21px "Roboto Condensed", sans-serif;
  line-height: 90%;
}

picture {
  width: 63px;
  height: 63px;
  padding-bottom: 80%;
}
.label {
  background-color: white;
  font-weight: bold;
  left: 0;
  bottom: 0;
}

.label_0 {
  background-color: white;
  font-weight: bold;
  left: 0;
  bottom: -10px;
}

.label_1 {
  background-image: url(Assets/icon-slideshows-nw.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.mag-cat {
  background-color: #f72210;
}

.count-link {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}

.category-name {
  outline: 1px solid #ff62ab !important;
}

.icon-n {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.content-right {
  position: relative;
  height: auto;
  padding-right: 0;
}

.newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 30px;
}

.right-sign {
  top: -4px;
  left: 43px;
}

.leftdown {
  background-color: #edf0f3;;
}
 .upper-image {
  position: absolute;
  top: 37px;
  left: 48px;
}

.lk {
  display: inline-block;
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-color: #f72210;
}

.lk-5 {
  color: #333;
  left: 0;
  top: 47px;
  font: bold 15px/15px "Roboto Condensed", sans-serif;
}

.n-title {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}

.wrapper_c3 {
  position: static;
  left: 0;
  top: 0;
  width: auto;
}

.redfont {
  color: #f72210;
}

.redbackground {
  fill: #f72210 !important;
}

.img_start5 {
  height: 283px;
  max-width: 228px;
}

#logo_2 {
  fill: #f72210;
}

.image-container {
  width: 170px;
  height: 228px;
}

.magazin_2 {
  position: relative;
  display: inline-block;
  width: 291px;
  height: 293px;
  background-image: url(Assets/march-06-2020-cover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.magazin_1 {
  display: block;
  position: absolute;
  top: 27px;
  left: 31px;
  width: 250px;
  height: 250px;
  padding: 10px;
  z-index: 10;
}

@media (max-width: 768px) {
  .main {
    margin-top: 75px;
  }

  .but_subscr {
    font-size: xx-small;
  }

  .sponsored {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .header-wrap,
  .header-right,
  .header_logo {
    padding-left: 0;
    padding-right: 0;
  }
   
  .header_logo {
    margin-bottom: 0.35em;
  }

  .culture {
    padding-left: 0;
    padding-right: 0;
  }

  .triple {
    padding-left: 12px;
    padding-right: 12px;
  }

  .upper-image {
    top: 37px;
    left: 108px;
  }

  .h5_subscribe {
    font-size: small;
    padding-top: 39px;
  }

  .leftdown {
    padding-bottom: 30px;
    margin-top: -48px;
  }

  .img_start5 {
    max-width: 268px;
    height: auto;
  }
}
 