
body {
  background-color: #f4f5f6;
  color: #333;
}

* {
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}

ul, li {
  list-style: none;
}

.header-top {
  background-color: #f72210;
}

nav {
  background-color: #f4f5f6;
}

.container-fluid {
  font-weight: 300;
}

.b {
}

.e {
  background-color: #00b0f0;
}

.f {
  background-color: #00b050;
}

.c {
  background-color: orange;
}

.d {
  background-color: #7030a0;
}

.hi {
  font-size: 14px;
  background-color: rgb(230, 230, 64);
}

.g {
  background-color: #1760b4;
}

.e2,
.c2,
.c3,
.d3,
.d4,
.f4 {
  color: #fff;
}

.e1 {
  background-color: rgba(255, 255, 255, 0.5);
}

.c1,
.f1,
.g1 {
  background-color: rgba(255, 255, 255, 0.66);
}

.c2,
.f2 {
  background-color: rgba(255, 255, 255, 0.33);
}

.d1 {
  background-color: rgba(255, 255, 255, 0.75);
}

.d2 {
  background-color: rgba(255, 255, 255, 0.5);
}

.d3,
.e3,
.f3 {
  background-color: rgba(255, 255, 255, 0.25);
}

.content-right {
  position: relative;
  height: 2703px;
  padding-right: 0;
}
.wrapper_c3 {
  position: static;
  left: 0;
  top: 0;
  width: auto;
}

